header.svelte-1x3dbw3.svelte-1x3dbw3{display:flex;justify-content:space-between}.corner.svelte-1x3dbw3.svelte-1x3dbw3{width:3em;height:3em}nav.svelte-1x3dbw3.svelte-1x3dbw3{display:flex;justify-content:center;--background:#313244}svg.svelte-1x3dbw3.svelte-1x3dbw3{width:2em;height:3em;display:block}path.svelte-1x3dbw3.svelte-1x3dbw3{fill:var(--background)}ul.svelte-1x3dbw3.svelte-1x3dbw3{position:relative;padding:0;margin:0;height:3em;display:flex;justify-content:center;align-items:center;list-style:none;background:var(--background);background-size:contain}li.svelte-1x3dbw3.svelte-1x3dbw3{position:relative;height:100%}li[aria-current='page'].svelte-1x3dbw3.svelte-1x3dbw3::before{--size:6px;content:'';width:0;height:0;position:absolute;top:0;left:calc(50% - var(--size));border:var(--size) solid transparent;border-top:var(--size) solid var(--color-theme-1)}nav.svelte-1x3dbw3 a.svelte-1x3dbw3{display:flex;height:100%;align-items:center;padding:0 0.5rem;color:var(--color-text);font-weight:700;font-size:0.8rem;text-transform:uppercase;letter-spacing:0.1em;text-decoration:none;transition:color 0.2s linear}a.svelte-1x3dbw3.svelte-1x3dbw3:hover{color:var(--color-theme-1)}/* fira-mono-cyrillic-ext-400-normal*/
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('https://korbexmachina.github.io/korbexmachina.com/_app/immutable/assets/fira-mono-cyrillic-ext-400-normal.3df7909e.woff2') format('woff2'), url('https://korbexmachina.github.io/korbexmachina.com/_app/immutable/assets/fira-mono-all-400-normal.1e3b098c.woff') format('woff');
  unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
}
/* fira-mono-cyrillic-400-normal*/
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('https://korbexmachina.github.io/korbexmachina.com/_app/immutable/assets/fira-mono-cyrillic-400-normal.c7d433fd.woff2') format('woff2'), url('https://korbexmachina.github.io/korbexmachina.com/_app/immutable/assets/fira-mono-all-400-normal.1e3b098c.woff') format('woff');
  unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}
/* fira-mono-greek-ext-400-normal*/
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('https://korbexmachina.github.io/korbexmachina.com/_app/immutable/assets/fira-mono-greek-ext-400-normal.9e2fe623.woff2') format('woff2'), url('https://korbexmachina.github.io/korbexmachina.com/_app/immutable/assets/fira-mono-all-400-normal.1e3b098c.woff') format('woff');
  unicode-range: U+1F00-1FFF;
}
/* fira-mono-greek-400-normal*/
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('https://korbexmachina.github.io/korbexmachina.com/_app/immutable/assets/fira-mono-greek-400-normal.a8be01ce.woff2') format('woff2'), url('https://korbexmachina.github.io/korbexmachina.com/_app/immutable/assets/fira-mono-all-400-normal.1e3b098c.woff') format('woff');
  unicode-range: U+0370-03FF;
}
/* fira-mono-latin-ext-400-normal*/
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('https://korbexmachina.github.io/korbexmachina.com/_app/immutable/assets/fira-mono-latin-ext-400-normal.6bfabd30.woff2') format('woff2'), url('https://korbexmachina.github.io/korbexmachina.com/_app/immutable/assets/fira-mono-all-400-normal.1e3b098c.woff') format('woff');
  unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;
}
/* fira-mono-latin-400-normal*/
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('https://korbexmachina.github.io/korbexmachina.com/_app/immutable/assets/fira-mono-latin-400-normal.e43b3538.woff2') format('woff2'), url('https://korbexmachina.github.io/korbexmachina.com/_app/immutable/assets/fira-mono-all-400-normal.1e3b098c.woff') format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: #6c7086;
	--color-bg-1: #7f849c;
	--color-bg-2: #9399b2;
	--color-theme-1: #cba6f7;
	--color-theme-2: #a6e3a1;
	--link-theme: #f5e0dc;
	--color-text: #cdd6f4;
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}
body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: #1e1e2e;
	background-size: 100vw 100vh;
}
h1,
h2,
p {
	font-weight: 400;
}
p {
	line-height: 1.5;
}
a {
	color: var(--link-theme);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
h1 {
	font-size: 2rem;
	text-align: center;
}
h2 {
	font-size: 1rem;
}
pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}
.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}
input,
button {
	font-size: inherit;
	font-family: inherit;
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.6em;
	font-weight: 500;
	background-color: #313244;
	cursor: pointer;
	transition: border-color 0.25s;
	position: relative;
	right: 0;
}
button:hover {
	border-color: #cba6f7;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}
@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}
.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
.app.svelte-16vmnrp.svelte-16vmnrp{display:flex;flex-direction:column;min-height:100vh}main.svelte-16vmnrp.svelte-16vmnrp{flex:1;display:flex;flex-direction:column;padding:1rem;width:100%;max-width:64rem;margin:0 auto;box-sizing:border-box}footer.svelte-16vmnrp.svelte-16vmnrp{display:flex;flex-direction:column;justify-content:center;align-items:center;padding:12px}footer.svelte-16vmnrp a.svelte-16vmnrp{font-weight:normal}@media(min-width: 480px){footer.svelte-16vmnrp.svelte-16vmnrp{padding:12px 0}}p.slugs.svelte-16vmnrp.svelte-16vmnrp{align-self:center}strong.slugs.svelte-16vmnrp.svelte-16vmnrp{color:#f9e2af}